<p>redes works!</p>

<ul class="list-group list-group-horizontal justify-content-center mb-5">
  <li class="list-group-item border-0" *ngFor="let red of redes">
    <a href="{{ red.href }}" class="text-primary"><img src="{{ red.src }}" alt="{{ red.alt }}" width="25"></a>
  </li>
</ul>
